.sx-layout {
  min-height: 100vh;
  &__right-wrap {
    position: relative;
    overflow: hidden;
    transition: margin-left 0.2s ease;
  }
  &__header {
    background-color: #fff;
    padding: 0;
    height: 90px;
    position: fixed;
    z-index: 1;
    right: 0;
    transition: width 0.2s ease;
  }
  &__sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
  }

  &__content {
    top: 90px;
    height: calc(100% - 90px);
    left: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
    overflow: auto;
  }
}
