.sx-navbar {
  display: flex;
  justify-content: space-between;
  height: 60%;
  padding: 0 28px;
  position: relative;
  z-index: 2;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  &__nav-tools {
    display: flex;
    align-items: center;
  }
}
